---
import { Icon } from "astro-icon/components";
import OneExerciseLogo from './OneExerciseLogo.astro'
const youtube = "https://www.youtube.com/@theindiedev.mstflotfy";
const github = "https://github.com/mstflotfy";
const email = "mailto:contact@mstflotfy.com";
const figma = "https://www.figma.com/@mstflotfy";
const footerItemsColor = "var(--m-3-sys-light-on-surface-variant)"
---

<footer class="footer">
  <section id="footer__main-links">
    <OneExerciseLogo fillColor={footerItemsColor} />
  </section>
  <section id="footer__social-links">
    <a href={youtube} target="_blank" rel="noopener">
      <Icon name="mdi:youtube" size={24} />
    </a>
    <a href={github} target="_blank" rel="noopener">
      <Icon name="mdi:github" size={24} />
    </a>
    <a href={email} target="_blank" rel="noopener">
      <Icon name="mdi:email" size={24} />
    </a>
    <a href={figma} target="_blank" rel="noopener">
      <Icon name="solarFigma" size={26} />
    </a>
  </section>
  <small>&copy; Mostafa Lotfy (mstflotfy) 2024. All rights reserved.</small>
</footer>

<style>
  .footer {
    background-color: var(--m-3-sys-light-surface-variant);
    height: 41rem;
    width: 100%;
    /* Figma design leaves 17.6rem (but seems too much!) */
    margin-top: 10.6rem;
    padding: 6.4rem 0;
    text-align: center;
  }
  #footer__social-links {
    display: flex;
    gap: 2.1rem;
    justify-content: center;
    padding: 2.6rem;
  }
  #footer__social-links *:hover {
    color: var(--m-3-sys-light-primary-fixed-dim);
  }

  small {
    display: block;
  }
</style>
